body, html {
	margin:0;
	font-family: 'Oswald', sans-serif;
}

.content {
	padding:30px;
}

.nav-main {
	width:100%;
	background: #222;
	height: 70px;
	color: #fff;
}

.nav-main .logo {
	float:left;
	height: 40px;
	padding: 15px 30px;
	font-size: 1.4em;
	line-height: 40px;
}

.nav-main > ul{
	margin: 0px;
	padding: px;
	float: left;
	list-style-type: none;

}

.nav-main > ul > li {
	float: left;
}

.nav-item {
	display: inline-block;
	padding: 15px 20px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	color: #fff;
}

.nav-item:hover{
	background: #444;
}

.nav-content{
	position: absolute;
	top: 70px;
	overflow: hidden;
	background: #222;
	max-height: 0;
}

.nav-content a{
	color: #fff;
	text-decoration: none;
}

.nav-content a:hover{
	text-decoration: underline;
}

.nav-sub{
	padding: 20px;
}

.nav-sub ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav-sub ul li a{
	display: inline-block;
	padding: 5px 0;
}

.nav-item:focus{
	background: #444;
}

.nav-item:focus ~ .nav-content{
	max-height: 400px;
	-webkit-transition:max-height 0.4s ease-in;
	-moz-transition:max-height 0.4s ease-in;
	transition:max-height 0.4s ease-in;
}